<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <web>
            <default_layouts>
                <default_category_layout>1column</default_category_layout>
                <default_product_layout>1column</default_product_layout>
            </default_layouts>
        </web>
        <catalog>
            <review>
                <active>0</active>
            </review>
            <frontend>
                <list_mode>grid</list_mode>
                <grid_per_page_values>30,60,90</grid_per_page_values>
                <grid_per_page>30</grid_per_page>
                <show_swatches_in_product_list>1</show_swatches_in_product_list>
            </frontend>
        </catalog>
        <design>
            <footer>
                <copyright>© 2022  AERIN LLC | All Rights Reserved</copyright>
            </footer>
        </design>
        <sales>
            <identity>
                <logo>default/accorin-logo.jpg</logo>
            </identity>
        </sales>
        <sales>
            <identity>
                <logo_html>default/accorin-logo.jpg</logo_html>
            </identity>
        </sales>
        <amshopby>
            <general>
                <ajax_enabled>1</ajax_enabled>
                <ajax_scroll_up>0</ajax_scroll_up>
                <keep_single_choice_visible>0</keep_single_choice_visible>
            </general>
            <tooltips>
                <enabled>0</enabled>
            </tooltips>
        </amshopby>
        <wishlist>
            <general>
                <show_in_sidebar>0</show_in_sidebar>
            </general>
        </wishlist>
        <cataloginventory>
            <options>
                <display_product_stock_status>1</display_product_stock_status>
            </options>
        </cataloginventory>
    </default>
</config>