<?xml version="1.0" ?>
<!--
/**
 * @package     Accorin/CmsContent
 * @version     1.0.0
 * @author      Accorin <engineering@accorin.com>
 * @copyright   Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Accorin_CmsContent" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Cms"/>
            <module name="Magento_Theme"/>
        </sequence>
    </module>
</config>
