<?xml version="1.0" ?>
<!--
/**
 * @package     Accorin/CmsContent
 * @version     1.0.0
 * @author      Accorin <engineering@accorin.com>
 * @copyright   Copyright © 2022. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="accorin" translate="label" sortOrder="1">
            <label>Accorin</label>
        </tab>
    </system>
</config>
